@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 35 100% 96%;
    /* #FFF4E8 */
    --foreground: 25 20% 20%;
    /* #3F3F3F */
    --card: 0 0% 100%;
    /* #FFFFFF */
    --card-foreground: 25 20% 20%;
    /* #3F3F3F */
    --popover: 0 0% 100%;
    /* #FFFFFF */
    --popover-foreground: 25 20% 20%;
    /* #3F3F3F */
    --primary: 25 94% 66%;
    /* #FFA34D */
    --primary-foreground: 210 40% 98%;
    /* #FFF5F5 */
    --secondary: 35 100% 90%;
    /* #FFECD9 */
    --secondary-foreground: 25 20% 20%;
    /* #3F3F3F */
    --muted: 35 100% 90%;
    /* #FFECD9 */
    --muted-foreground: 25 20% 20%;
    /* #3F3F3F */
    --accent: 35 100% 90%;
    /* #FFECD9 */
    --accent-foreground: 25 20% 20%;
    /* #3F3F3F */
    --destructive: 0 84.2% 60.2%;
    /* #FF5A5A */
    --destructive-foreground: 210 40% 98%;
    /* #FFF5F5 */
    --border: 35 100% 85%;
    /* #FFD9B8 */
    --input: 35 100% 85%;
    /* #FFD9B8 */
    --ring: 25 20% 20%;
    /* #3F3F3F */
    --radius: 0.5rem;
  }

  .dark {
    --background: 25 42% 20%;
    /* #503B38 */
    --foreground: 35 100% 97%;
    /* #FFF7F5 */
    --card: 25 42% 25%;
    /* #5D4845 */
    --card-foreground: 35 100% 97%;
    /* #FFF7F5 */
    --popover: 25 42% 25%;
    /* #5D4845 */
    --popover-foreground: 35 100% 97%;
    /* #FFF7F5 */
    --primary: 35 100% 90%;
    /* #FFECD9 */
    --primary-foreground: 25 42% 20%;
    /* #503B38 */
    --secondary: 25 42% 30%;
    /* #6A5654 */
    --secondary-foreground: 35 100% 97%;
    /* #FFF7F5 */
    --muted: 25 42% 30%;
    /* #6A5654 */
    --muted-foreground: 35 100% 97%;
    /* #FFF7F5 */
    --accent: 25 42% 30%;
    /* #6A5654 */
    --accent-foreground: 35 100% 97%;
    /* #FFF7F5 */
    --destructive: 0 62.8% 30.6%;
    /* #7F1D1D */
    --destructive-foreground: 35 100% 97%;
    /* #FFF7F5 */
    --border: 25 42% 30%;
    /* #6A5654 */
    --input: 25 42% 30%;
    /* #6A5654 */
    --ring: 35 100% 97%;
    /* #FFF7F5 */
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}